<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="o" size-lg="4">
        <!--logo-->
        <div id="fondo">
          <img src="../../assets/img/Sin fondo (Blanco)(Recortado).png">
        </div>  
      </ion-col>
      <ion-col size="12" size-lg="8">
        <ion-header>
          <ion-toolbar>
            <!--apartado de recuperacion de contraseña -->
            <ion-title>Recuperacion de Contraseña</ion-title>
            <ion-buttons slot="end">
              <!--cerrar modales-->
              <ion-button (click)="closeModal()">
                <ion-icon name="close-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <form>
          <!--Funcion para recuperar contraseña con correo electronico -->
          <ion-item lines="full">
            <br>
            <p  position="floating">Recupera tu contraseña de correo electrónico</p>
            <ion-label position="floating">Correo Electronico</ion-label>
            <ion-input type="text" #email required></ion-input>
          </ion-item>
          <br><br><br><br><br><br><br><br><br>
          <!--boton para enviar la infomracion al correo electronico-->
          <ion-button type="submit" (click)="onResetPassword(email)"expand="block">Recuperar contraseña</ion-button>
          <br>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

