<ion-header>
  <ion-toolbar>
    <ion-title>Mis reservas</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="user$ | async as user">
    <ion-card *ngFor="let reserva of reservas$|async">
      <div *ngFor="let parqueadero of parqueaderos$|async">
        <div *ngIf="reserva.uid == user.uid && reserva.pid == parqueadero.id">
          <ion-card-header>{{parqueadero.direccion}}</ion-card-header>
            <ion-card-content>
              <img [src]="parqueadero.imagenUrl" />
              <h2>{{reserva.dia_ingreso}}</h2>
              <h2>{{reserva.hora_ingreso}}</h2>
            </ion-card-content>
        </div>
      </div>
    </ion-card>
  </div>
</ion-content>