ion-item{
    --background: rgba(0,0,0,0);
}
ion-toolbar{
    --background: rgba(0,0,0,0);
}

.logo{
    vertical-align: auto;
}
#fondo{
    width: 100%;
    height: 72vh;
    display: flex;
    align-content: center;
    align-items: center;
    
    background: linear-gradient(0deg, #8c8c8c 0%, #2D3B4D 50%, #2D3B4D 100%);
}

