<ion-header>
  <ion-toolbar>
    <ion-title>{{parqueadero.direccion}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="start" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card>
            <img [src]="parqueadero.imagenUrl" alt="Imagen del parqueadero">
          </ion-card>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-lg="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Cupos disponibles</ion-card-subtitle>
            <ion-card-title>{{parqueadero.cupos}}/{{parqueadero.cupos}}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-lg="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Direccion del estacionamiento</ion-card-subtitle>
            <ion-card-title>{{parqueadero.direccion}}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-lg="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Tarifa mínima de cobro</ion-card-subtitle>
            <ion-card-title>{{parqueadero.tarifa}}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-lg="6">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Tipo de vehiculos que acepta</ion-card-subtitle>
            <ion-card-title>{{parqueadero.vehiculos}}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <div class="ion-padding">
    <div>
      <div align = "right">
          <ion-button (click)="closeModal()" (click)="openLoginModal()" color="success">Ingresar</ion-button>
      </div>
    </div>
  </div>

  
</ion-content>